{
    "discord_token": "discord bot token",
    "servers":
    [
        {
            "name": "Server name",
            "path": "/home/example/example_server",
            "address": "127.0.0.1:27015"
        }
    ]
}
