{
    "discord_token": "discord bot token",
    "default_channel": "channel id",
    "acceptable_channels":
    [
        "channel id"
    ],
    "servers":
    [
        {
            "name": "Server name",
            "path": "/home/example/example_server",
            "address": "127.0.0.1:27015"
        }
    ]
}
