{
    "discord_token": "discord bot token",
    "default_channel": "channel id",
    "acceptable_channels":
    [
        "channel id"
    ],

    "max_idle_minutes": 2,
    "min_players": 2,

    "discord_debug": false,

    "error_threshold": 1,
    "notification_users":
    [
        "user id"
    ],

    "booking_duration": "4h",
    "booking_extend_duration": "2h",
    "booking_warning_duration": "10m",
    "booking_duration_text": "4 hours",
    "booking_extend_duration_text": "2 hours",
    "booking_warning_duration_text": "10 minutes",

    "servers":
    [
        {
            "name": "Server name",
            "path": "/home/example/example_server",
            "address": "127.0.0.1:27015",
            "session_name": "server_session"
        }
    ]
}
